body {
  background-color: #f2f2f2;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
}

h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.45em;
}

h5 {
  font-size: 1.2em;
}
p {
  font-size: 1.1em;
  line-height: 1.5em;
}

i {
  font-size: 1.75em;
}

li {
  font-size: 1.1em;
}

article {
  max-width: 640px;
  margin: 0 auto;
}

section {
  margin: 0 0 40px 0;
}

footer {
  height: 25px;
}

.top-bar, .top-bar ul {
  background-color: #222222;
}

#nav-menu > div > ul > li > a.social-link {
  padding: 0 .5em 0 .5em;
}

.bs-hero {
  height: 275px;
  background: #111111;
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 1em;
}

.bs-hero-text {
  padding-top: 25px;
}

.bs-hero-text img {
  max-height: 225px;
}

/* Scheduling Page */
.schedule .row {
  margin-bottom: 35px;
}

.sponsors-group {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.sponsors-group hr {
  max-width: 425px;
}

.sponsors-tier {
  text-align: center;
}

.sponsors-tier img {
  max-width: 100%;
  padding: 20px;
}

.details div {
  margin-bottom: 40px;
}

/* Medium and up */
@media screen and (min-width: 40em) {
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.9em;
  }

  h4 {
    font-size: 1.5625rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  .sponsors-tier img {
    max-width: 400px;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {}
